main h1 {
    font-size: 60px;
    background-color: rgb(61, 13, 25);
    color: #F2FFFC;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}
.subtitulo-texto {
    font-size: 40px;
    clear: both;
}
h1, h2 {
    font-family: "Open Sans Condensed", Helvetica, sans-serif
}
p {
    text-align: justify;
    margin: 20px 0;
}
body {
    font-family: "Crimson Text", Times, serif;
    background-color: rgb(217, 247, 240);
    font-size: 120%;   
    margin-top: 0px;
    line-height: 1.5;
}
.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}
.icones-sociais li {
    display: inline-block;
}
main a {
    color: inherit;
}
.citacao-bio {
    background-color: #d3ddda;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
    border-bottom-color: #333;
    border-right-color: #FFF;
}
.citacao-bio, .navegacao-site, .rodape-pagina {
    padding: 20px;
}
.fiat {
    float: right;
}
.petrobras {
    float: left;
}
.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}
.github {
    background-image: url(github.png);
}
.twitter {
    background-image: url(twitter.png);    
}
.linkedin {
    background-image: url(linkedin.png);
}
.navegacao-site, .minha-foto {
    float: right;
    box-sizing: border-box;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
.navegacao-site {
    clear: right;
    width: 15%;
    position: relative;
    top: 305px;
}
main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}
.rodape-pagina {
    background-color: #333;
    color: white;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}